---
layout: page
title: test feel lucky
permalink: /retest/
---


<div id="searchfield">
  <h3>Search for a road... <a id="randomlink" onclick="displayRandom();">or
      feel lucky !</a></h3>
  <form>
    <input type="text" name="race" class="biginput" id="autocomplete"
    value="Type a location or a name here..."
    onblur="if (this.value==''){this.value='Type a location or a name here...';}"
    onfocus="if (this.value!=''){this.value='';}">
  </form>
</div>

<div id="outputbox">
  <p id="outputcontent">Choose a race and the results will display here.</p>
</div>

The Risk is an a value going from 1 for the safest road to 6 for the riskiest road.
We chose 1 for minimal risk, since there is alway a risk!
For more details about the risk calculation (and discussion), please refer to the
 Notebook about risk in the appendix section of the website.



<script type="text/javascript">
// Query
var url = window.location.href;
var raceQuery = null;
if (url.split("?").length > 1) {
  raceQuery = url.split('?').pop().split('=').pop();
}
// Races hashtable
var races = [
  {% for race in site.data.road_risk.Risk_NB_VOITURES_TOURISME %}
  {value:"{{race[1]}}",data:"{{race[0]}}"},
  {% endfor %}
];

var road_names = [
  {% for race in site.data.road_risk.Risk_NB_VOITURES_TOURISME[0] %}
  {"{{race[0]}}"},
  {% endfor %}
];

// Initializations
var currentRace = null;
var myMap = null;
</script>

<script type="text/javascript">

/* Display information for a randomly chosen race */
function displayRandom() {
  // Get random index
  var entry = Math.floor(Math.random() * races.length);
  // Load JSON file and display
  // Empty HTML
  $('#outputbox').empty()

  // ---- TITLE ----
  index = races.findIndex(x => x.data=="avenue de france");  var title = "<h2>"+ "Road: "+ races[entry].data + "</h2>"
  var title2 = "<h2>"+ "  Risk: "+ races[entry].value +"</h2>"
  $('#outputbox').append(title)
  $('#outputbox').append(title2)

  //loadAndDisplay(races[entry].data)
}

function loadAndDisplay(road) {
  $("<div id='outputbox'><p id='outputcontent'>Loading... Please wait.</p><img src='../img/CHflag.gif' ></div>").replaceAll("#outputbox")
  // Load JSON data

  $.getJSON("/_data/" + "road_risk" + ".json", function(data) {
    // Set 'global' var to selected race
    currentRace = data
    // Empty HTML
    $('#outputbox').empty()

    // ---- TITLE ----
    var title = "<h2>"+ "cacaaaaa" +"</h2>"
    $('#outputbox').append(title)

  })
}


function Display(road) {
    // Empty HTML
    $('#outputbox').empty()

    // ---- TITLE ----
    var title = "<h2>"+ "cacaaaaa" +"</h2>"
    $('#outputbox').append(title)

}




/* Callback function for race selection through search bar */
$(function(){
  $('#autocomplete').autocomplete({
    lookup: races,
    onSelect: function (suggestion) {
      $('#outputbox').empty()
      var title = "<h2>"+ "cacaaaaa" +"</h2>"
      $('#outputbox').append(title)
    }
  });
});

// Page load end : check if a query has been made
if (raceQuery) {
  var res = raceQuery.replace(/\+/g, " ");
  $('#outputbox').empty()
  index = races.findIndex(x => x.data==res);

  if (index >= 0) {
    var title = "<h2>"+ "Road: "+ races[index].data + "</h2>"
    var title2 = "<h2>"+ "  Risk: "+ races[index].value +"</h2>"
    $('#outputbox').append(title);
    $('#outputbox').append(title2);
  } else {
    var title = "<h2>"+ "We don't have a risk for this road" +"</h2>"
    $('#outputbox').append(title);
  }

}
</script>
