<!-- 'Texas': -->
<div class="bk-root">
   <div class="bk-plotdiv" id="ae0b6e6c-a3fd-4d0c-b9e2-030dd7e7db7f"></div>
 </div>
 <!-- 'Red': -->
 <div class="bk-root">
   <div class="bk-plotdiv" id="3b11fd2c-5135-4b3f-b61f-b277a8176c23"></div>
 </div>
 <!--'Blue': -->
 <div class="bk-root">
   <div class="bk-plotdiv" id="d226e774-d805-4ffb-8dcf-6c2e209273d2"></div>
 </div>
 <!-- 'Green': -->
 <div class="bk-root">
   <div class="bk-plotdiv" id="484cf474-dc5c-47ed-8d67-436856551d94"></div>
 </div>'}
